@font-face {
    font-family: 'Merriweather';
    src: url('/resources/fonts/Merriweather24pt-BoldItalic.eot');
    src: local('Merriweather Bold Italic'), local('Merriweather24pt-BoldItalic'),
        url('/resources/fonts/Merriweather24pt-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/resources/fonts/Merriweather24pt-BoldItalic.woff2') format('woff2'),
        url('/resources/fonts/Merriweather24pt-BoldItalic.woff') format('woff'),
        url('/resources/fonts/Merriweather24pt-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather';
    src: url('/resources/fonts/Merriweather24pt-Bold.eot');
    src: local('Merriweather Bold'), local('Merriweather24pt-Bold'),
    url('/resources/fonts/Merriweather24pt-Bold.eot?#iefix') format('embedded-opentype'),
    url('/resources/fonts/Merriweather24pt-Bold.woff2') format('woff2'),
    url('/resources/fonts/Merriweather24pt-Bold.woff') format('woff'),
    url('/resources/fonts/Merriweather24pt-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather';
    src: url('/resources/fonts/Merriweather24pt-Italic.eot');
    src: local('Merriweather Italic'), local('Merriweather24pt-Italic'),
    url('/resources/fonts/Merriweather24pt-Italic.eot?#iefix') format('embedded-opentype'),
    url('/resources/fonts/Merriweather24pt-Italic.woff2') format('woff2'),
    url('/resources/fonts/Merriweather24pt-Italic.woff') format('woff'),
    url('/resources/fonts/Merriweather24pt-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather';
    src: url('/resources/fonts/Merriweather24pt-Regular.eot');
    src: local('Merriweather Regular'), local('Merriweather24pt-Regular'),
    url('/resources/fonts/Merriweather24pt-Regular.eot?#iefix') format('embedded-opentype'),
    url('/resources/fonts/Merriweather24pt-Regular.woff2') format('woff2'),
    url('/resources/fonts/Merriweather24pt-Regular.woff') format('woff'),
    url('/resources/fonts/Merriweather24pt-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('/resources/fonts/Lato-BoldItalic.eot');
    src: local('Lato Bold Italic'), local('Lato-BoldItalic'),
        url('/resources/fonts/Lato-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/resources/fonts/Lato-BoldItalic.woff2') format('woff2'),
        url('/resources/fonts/Lato-BoldItalic.woff') format('woff'),
        url('/resources/fonts/Lato-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('/resources/fonts/Lato-Bold.eot');
    src: local('Lato Bold'), local('Lato-Bold'),
        url('/resources/fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
        url('/resources/fonts/Lato-Bold.woff2') format('woff2'),
        url('/resources/fonts/Lato-Bold.woff') format('woff'),
        url('/resources/fonts/Lato-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('/resources/fonts/Lato-Regular.eot');
    src: local('Lato Regular'), local('Lato-Regular'),
        url('/resources/fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('/resources/fonts/Lato-Regular.woff2') format('woff2'),
        url('/resources/fonts/Lato-Regular.woff') format('woff'),
        url('/resources/fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Modern Antiqua';
    src: url('/resources/fonts/ModernAntiqua-Regular.eot');
    src: local('Modern Antiqua Regular'), local('ModernAntiqua-Regular'),
        url('/resources/fonts/ModernAntiqua-Regular.eot?#iefix') format('embedded-opentype'),
        url('/resources/fonts/ModernAntiqua-Regular.woff2') format('woff2'),
        url('/resources/fonts/ModernAntiqua-Regular.woff') format('woff'),
        url('/resources/fonts/ModernAntiqua-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Truculenta';
    src: url('/resources/fonts/Truculenta-Regular.eot');
    src: local('Truculenta Regular'), local('Truculenta-Regular'),
        url('/resources/fonts/Truculenta-Regular.eot?#iefix') format('embedded-opentype'),
        url('/resources/fonts/Truculenta-Regular.woff2') format('woff2'),
        url('/resources/fonts/Truculenta-Regular.woff') format('woff'),
        url('/resources/fonts/Truculenta-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Truculenta';
    src: url('/resources/fonts/Truculenta-Bold.eot');
    src: local('Truculenta Bold'), local('Truculenta-Bold'),
    url('/resources/fonts/Truculenta-Bold.eot?#iefix') format('embedded-opentype'),
    url('/resources/fonts/Truculenta-Bold.woff2') format('woff2'),
    url('/resources/fonts/Truculenta-Bold.woff') format('woff'),
    url('/resources/fonts/Truculenta-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metamorphous';
    src: url('/resources/fonts/Metamorphous.eot');
    src: local('Metamorphous'),
        url('/resources/fonts/Metamorphous.eot?#iefix') format('embedded-opentype'),
        url('/resources/fonts/Metamorphous.woff2') format('woff2'),
        url('/resources/fonts/Metamorphous.woff') format('woff'),
        url('/resources/fonts/Metamorphous.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

