@import "mixins";
@import "font_face";

body {
    font-family: 'Lato', sans-serif;
    color: white;

    h1, h2, h3, h4, h5 {
        font-family: 'Merriweather', sans-serif;
    }

    h1 {
        margin: 1rem .5rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid #8f8e8e;
        font-size: 1.5rem;
    }

    h2 {
        margin: 1rem .5rem;
        border-bottom: 1px solid #8f8e8e;
        padding-bottom: 1rem;
        font-size: 1.2rem;
    }

    // FontAwesome with pseudo-CSS
    .icon::before {
        display: inline-block;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
    }

    a {
        color: $t-green-faded;
        text-decoration: none;

        &.btn {
            color: white;
        }

        &:not(.nav-link):hover {
            text-decoration: underline;
        }

        .fa-arrow-up-right-from-square {
            font-size: .5rem;
        }

        &.with-target-icon[target="_blank"] {
            position: relative;
            text-decoration: underline;

            &:hover,
            &:focus,
            &:active {
                color: $body-color !important;
                background: transparent !important;
                text-decoration: none !important;
            }

            &::after {
                position: absolute;
                top: 2px;
                right: -10px;
                content: '\f08e';
                font: var(--fa-font-solid);
                font-size: .5rem;

                &:hover,
                &:focus,
                &:active {
                    color: $body-color !important;
                    background: transparent !important;
                    text-decoration: none !important;
                }
            }
        }
    }

    .text-muted {
        color: rgb(203, 203, 203) !important;
    }

    .text-small {
        font-size: .8rem;
    }

    nav.navbar {
        background-color: $t-green;

        a,
        a.nav-link {
            color: white;
        }

        a:hover,
        a:focus,
        a.nav-link:hover,
        a.nav-link.show,
        .nav-link.active {
            border-radius: 3px;
            background: white;
            color: $t-green;
            text-decoration: none;
        }

        .nav-item:not(:last-child) {
            margin-right: 7px;
        }

        .dropdown-menu {
            border: none;
            background-color: $t-green;
            color: white;
        }

        #nav-brand-separator {
            left: 100px;
            height: 40px;
        }

        #nav-brand-admin-separator {
            left: 80px;
            height: 40px;
        }
    }

    #main-container {
        padding: 1rem;

        .alert {
            .btn-close {
                position: absolute;
                top: auto;
                right: 5px;
                bottom: auto;
            }
        }

        .pagination {
            li.page-item {
                a.page-link {
                    border-color: $t-green;
                    border-left-color: $t-green-faded;
                    color: $t-green;
                }

                &.active {
                    a.page-link {
                        background: $t-green;
                        color: white;
                    }
                }
            }
        }

        .player-badge {
            text-decoration: none;

            img {
                background: white;
                border-radius: 50%;
                border: 1px solid #dadada;
            }
        }

        form {
            .form-control {
                background-color: #4a4a4a;
                color: white;
            }

            .form-floating {
                textarea.form-control {
                    height: auto;
                    resize: none;
                }

                & > label,
                & > textarea:focus ~ label::after,
                & > textarea:not(:placeholder-shown) ~ label::after {
                    color: white;
                    background-color: transparent;
                }
            }
        }

        .table {
            tr {
                th {
                    background-color: $t-green;
                    color: white;
                }

                td {
                    padding: .9rem .7rem;

                    &:not(.text-center) {
                        padding-left: 1rem;
                    }

                    .form-control {
                        border: none;
                        background-color: #363535;
                    }
                }
            }

            &.no-outer-borders {
                thead {
                    tr {
                        border-top: none;

                        th {
                            &:first-child {
                                 border-top: none !important;
                                 border-left: none !important;
                            }

                            &:last-child {
                                border-right: none !important;
                            }
                        }
                    }
                }

                tbody {
                    tr {
                        border-right: none !important;
                        border-left: none !important;
                        vertical-align: middle;

                        &:first-child {
                            border-top: none !important;
                        }

                        &:last-child {
                            border-bottom: none !important;
                        }

                        td {
                            &:first-child {
                                border-left: none !important;
                            }

                            &:last-child {
                                border-right: none !important;
                            }
                        }
                    }
                }
            }
        }
    }

    footer {
        font-size: .9rem;
    }
}
