@use '@fortawesome/fontawesome-free/css/all.min.css';
@use 'bootstrap/dist/css/bootstrap.min.css';

@import "mixins";
@import "font_face";

body {
    background-color: $t-dark-background;
    font-family: 'Lato', sans-serif;
    color: white;

    nav.navbar {
        background-color: $t-green;

        a,
        a:hover {
            color: white;
        }

        #nav-brand-separator {
            left: 90px;
            height: 40px;
        }

        .nav-link:hover,
        .nav-link.active {
            background: white;
            color: $t-green;
        }
    }

    #main-container {
        padding: 1rem;

        h1, h2, h3, h4, h5 {
            font-family: 'Merriweather', sans-serif;
        }

        h1 {
            margin: 1rem .5rem;
            padding-bottom: 1rem;
            border-bottom: 1px solid #8f8e8e;
            font-size: 1.5rem;
        }

        h2 {
            margin: 1rem .5rem;
            font-size: 1.2rem;
        }

        a {
            text-decoration: none;
            color: white;
        }

        .text-muted {
            color: rgb(203, 203, 203) !important;
        }

        .text-small {
            font-size: .7rem;
        }

        .pagination {
            li.page-item {
                a.page-link {
                    border-color: $t-green;
                    border-left-color: $t-green-faded;
                    color: $t-green;
                }

                &.active {
                    a.page-link {
                        background: $t-green;
                        color: white;
                    }
                }
            }
        }

        form {
            .form-control {
                background-color: #4a4a4a;
                color: white;
            }

            .form-floating {
                textarea.form-control {
                    height: auto;
                    resize: none;
                }

                & > label,
                & > textarea:focus ~ label::after,
                & > textarea:not(:placeholder-shown) ~ label::after {
                    color: white;
                    background-color: transparent;
                }
            }
        }

        .table {
            tr {
                th {
                    background-color: $t-green;
                    color: white;
                }

                td {
                    background: $t-dark-background;
                    color: white;

                    .form-control {
                        border: none;
                        background-color: #363535;
                    }
                }
            }
        }
    }
}
