@use 'tui-color-picker/dist/tui-color-picker.css';

#player-profile-container {
    .card-header {
        font-size: 1.1rem;
    }
    .card-body {
        min-height: 65px;
    }

    canvas {
        &#player-stats-points {
            max-height: 300px;
        }
    }

    #player-games-wrapper {
        table {
            td {
                text-align: center;

                &.other-player-cell {
                    &:not(:last-child) {
                        border-right: none;
                    }

                    &:not(:first-child) {
                        border-left: none;
                    }
                }
            }
        }
    }
}
