@use 'tui-color-picker/dist/tui-color-picker.css';

#player-profile-container {
    .card-header {
        font-size: 1.3rem;
    }
    .card-body {
        min-height: 69px;
        font-size: 1.1rem;
    }

    .player-chart {
        max-height: 400px;
        max-width: 45%;
    }

    #player-games-wrapper {
        table {
            td {
                text-align: center;

                &.other-player-cell {
                    &:not(:last-child) {
                        border-right: none;
                    }

                    &:not(:first-child) {
                        border-left: none;
                    }
                }
            }
        }
    }
}
